<article class="post">
      <div class="title">
        <h2><a href="/post/{{id}}">{{title}}</a> <span>(created by me on {{format_date created_at}})</span></h2>
        <p>{{post_content}}</p>
    </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>

</article>