<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <h2><a id="post-info" href="/post/{{id}}">{{title}}</a> <span>(created by {{user.username}} on {{format_date
            created_at}})</span></h2>
      </div>
      <div class="meta">
        <a id="comment-info" href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>